body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-weight: 400;
}

h4 {
	font-family: 'Amatic SC', cursive, san-serif, Verdana;
	font-weight: 600;
	font-size: 1.5em;
  color:  black;
	text-decoration: underline;
}

.search-box {
	font-size: 1.5em;
	z-index: 1;
	position: absolute;
	left: 15px;
	top: 138px;
	background-color: antiquewhite;
	opacity: 0.7;
	border-radius: 4px;
	max-height: 50%;
	overflow: auto;
}

.search-textbox {
	width: 230px;
	padding: 3px;
	font-size: 1em;
	font-family: 'Amatic SC', cursive, san-serif, Verdana;
	font-weight: 300;
	border-radius: 4px;
}

.list-container {
	padding: 2px;
	margin: 10px;
	overflow: auto;
	z-index: 10;
}

.place {
	font-size: 1em;
	color: black;
	font-family: 'Amatic SC', cursive, san-serif, Verdana;
	cursor: pointer;
	border-radius:3px;

}

.place:hover {
  color: black;
  background-color: #F8D3DB;

}
